<h1>Edit post</h1>
<%= render 'form' %>
<ul>
  <li><%= link_to "Delete post", @post, :method => :delete, :data => {:confirm => "Are you sure you want to delete this post?"} %></li>
  <li><%= link_to "Back to list", :posts %></li>
</ul>
